* {
  padding: 0;
  margin: 0;
}

body {
  background-color: goldenrod;
}

/* NAVIGATION */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: deeppink;
}

.logo {
    padding: 1em;
    text-transform: uppercase;
}

.logo a {
    color: rgb(128, 240, 162);
}

ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.logo a,
ul a {
    text-decoration: none;
    letter-spacing: .45em;
}

ul a {
    display: flex;
    padding: 1em;
    color: white;
}

ul a:hover {
    background-color: linen;
}
/* NAVIGATION END*/

/* DOGS */

.dogs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.dogs img {
    width: 200px;
    margin: 20px;
}
/* DOGS */
/* CATS */
.cats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cats img {
    width: 500px;
    margin: 20px;
}
/* CATS */